body {
    width: 1440px;
    background-color:;
    color: ;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* Header content */


/* Footer content */
.logo-item {
    color: #4D5AE5;
}
.logo-item:hover,
.logo-item:focus {
    color: fuchsia;
}
.logo-item:active {
    color: aqua;
}
